{% extends "tournament/base.html" %}

{% block title %}Visualizer{% endblock %}

{% block footer %}{% endblock %}

{% block styles %}
    <style>
        *, *:after, *:before {
            box-sizing: border-box
        }

        html, body {
            height: 100%;
            overflow: auto;
        }

        body.drag::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(204, 204, 204, 0.3);
            border: 5px #cccccc dashed;
            z-index: 10
        }
    </style>
{% endblock %}

{% block content %}
    <div id="visualizer" class="text-center">
        <div class="row">
            <div class="col-md-12">
                <h2>Drag and drop a replay file to watch.</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include "tournament/partials/visualizer_scripts.html" %}
    <script src="https://unpkg.com/drag-drop@2.12.1/dragdrop.min.js"></script>
    <script>
        DragDrop('body', async function (files) {
            const file = files[0];
            const data = await file.arrayBuffer()
            let text
            try {
                text = pako.inflate(data, {to: 'string'});
            } catch (err) {
                text = new TextDecoder().decode(data);
            }
            const $visualizer = $("#visualizer")
            $visualizer.html("<h1><span class=\"glyphicon glyphicon-refresh glyphicon-refresh-animate\"></span> Preparing replay...</h1>");
            showGame(textToGame(text), $visualizer, {
                showmovement: true,
                isminimal: false,
            });
        });
    </script>
{% endblock %}
