{% spaceless %}
<a href="{% url "tournament:bot_detail" name=bot %}">
    <img src="{{ bot|bot_icon_url }}" width="25px" height="25px" style="max-width: 30px; border-radius: 5%; margin-right: 5px;{% if bot.user.is_npc %} background-color: #f8fafb; background-clip: content-box;{% endif %}">
    {% if bot == self %}<u>{% endif %}<span>{{ bot.name }}</span>{% if bot == self %}</u>{% endif %}
    {% if bot.user.is_npc %}<span class="label label-default" style="margin-left: 4px">NPC</span>{% endif %}
</a>
{% endspaceless %}
