{% extends "tournament/base.html" %}

{% block title %}Permission Denied{% endblock %}

{% block content %}
    <div class="row">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <img src="{% static "tournament/assets/403.png" %}" class="img-responsive center-block" style="max-width: 250px;">
                <h2 class="text-danger">403 Permission Denied</h2>
                <p>You aren't allowed to see that.</p>
                <p><small><a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icons created by Freepik - Flaticon</a></small></p>
            </div>
        </div>
    </div>
{% endblock %}
