{% extends "tournament/base.html" %}

{% block title %}Not Found{% endblock %}

{% block content %}
    <div class="row">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <img src="{% static "tournament/assets/404.png" %}" class="img-responsive center-block" style="max-width: 250px;">
                <h2 class="text-danger">404 Not Found</h2>
                <p>Whatever you're looking for, it isn't here.</p>
                <p><small><a href="https://www.flaticon.com/free-icons/404-error" title="404 error icons">404 error icons created by Freepik - Flaticon</a></small></p>
            </div>
        </div>
    </div>
{% endblock %}
