{% extends "tournament/base.html" %}

{% block title %}Server Error{% endblock %}

{% block navbar %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <img src="{% static "tournament/assets/500.png" %}" class="img-responsive center-block" style="max-width: 250px;">
                <h2 class="text-danger">500 Server Error</h2>
                <p>Hopefully this message has been automatically reported.</p>
                <p>
                    <a href="{% url 'tournament:index' %}" class="btn btn-primary" style="margin-top: 1em"><span
                            class="glyphicon glyphicon-home"></span>Take Me Home</a>
                </p>
                <p><small><a href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Freepik - Flaticon</a></small></p>
            </div>
        </div>
    </div>
{% endblock %}
