{% extends "tournament/base.html" %}

{% block title %}Server Error{% endblock %}

{% block navbar %}{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <h1>Oops!</h1>
                <h2 class="text-danger">500 Server Error</h2>
                <p>Hopefully this message has been automatically reported.</p>
                <div>
                    <a href="{% url 'tournament:index' %}" class="btn btn-primary" style="margin-top: 1em"><span
                            class="glyphicon glyphicon-home"></span>Take Me Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
