<script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.2.2/pixi.min.js"></script>
<script src="https://unpkg.com/dompurify@3.0.4/dist/purify.min.js"></script>
<script src="https://unpkg.com/pako@2.1.0/dist/pako_inflate.min.js"></script>
<script src="{% static "tournament/script/parse-replay.js" %}"></script>
<script src="{% static "tournament/script/visualizer.js" %}"></script>
<script src="{% static "tournament/script/load-replay.js" %}"></script>
