.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.replay {
    max-width: fit-content;
}

.replay canvas {
    margin-bottom: -4px;
}

code {
    color: #c7254e;
    background-color: #f2f9f2;
    border-radius: 4px;
    font-size: 85%;
}

a:hover {
    text-decoration: none;
}
